{% extends 'base.html' %}

{% block title %}
    Task Dashboard
{% endblock %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <h2>Welcome, {{ user.username}}!</h2>
        <a href= {% url 'display_tasks' %}><button type="button">Go to Task Board</button></a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Log Out">
        </form>
        <a href= {% url 'password_change' %}><button type="button">Change password</button></a>
    {% else %}
        <h2>You are not logged in yet!</h2>
        <form action="{% url 'login' %}">
            <input type="submit" value="Log In">
        </form>
        <!-- <a href="{% url 'login' %}">Login</a> -->
    {% endif %}
</div>
{% endblock %}