{% extends "main_tmpl.html" %}

{% block title %}
    All tasks
{% endblock %}

{% block content %}
    <h1>Welcome User</h1>
    <h3>Completed Tasks</h3>
    <table>
        <tr>
            <th>Title</th>
            <th>Priority</th>
            <th>Progress (%)</th>
            <th>Due Date</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.title}}</td>
            <td>{{x.priority}}</td>
            <td>{{x.progress}}</td>
            <td>{{x.due_date}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}