{% extends "main_tmpl.html" %}

{% block title %}
    Task History
{% endblock %}

{% block content %}
    <h1>Welcome User</h1>
    <h3>Tasks Details</h3>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Progress (%)</th>
            <th>Due Date</th>
            <th>Tags</th>
        </tr>
        <tr>
            <td>{{data.title}}</td>
            <td>{{data.description}}</td>
            <td>{{data.priority}}</td>
            <td>{{data.progress}}</td>
            <td>{{data.due_date}}</td>
            <td>
                {% for tag in data.tags.all %}
                    {{ tag.name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>
    <p><a href={% url 'update task' id=data.id %}>Update Task</a></p>
{% endblock %}